.heading {
  background-color: #25242a;
  padding: 40px 0;
  text-align: center;
  font-size: 32px;
  font-weight: 500;
  color: #fff;
}

.container {
  margin: 0 auto;
  width: 1000px;
  padding-top: 60px;
  padding-bottom: 100px;
  display: flex;
  justify-content: space-between;
}

.left {
  width: 660px;
}

.left > h1 {
  margin-bottom: 20px;
}

.left > h2 {
  margin-top: 60px;
  margin-bottom: 20px;
  font-size: 28px;
}

.left > p {
  font-size: 17px;
  line-height: 1.5;
}

.left > p > div {
  display: inline-block;
  font-weight: 500;
  width: 130px;
}

.left > p > a {
  box-shadow: 0 2px #ff6e55;
}

.left > p > a:hover {
  background-color: #ff6e55;
}

.right {
  width: 240px;
}

.right h2 {
  margin-bottom: 28px;
  font-size: 26px;
}

.right > ul {
  list-style: none;
}

.right > ul > li {
  margin-bottom: 18px;
}

.right > ul > li > h3 {
  margin-bottom: 4px;
  font-weight: 600;
}

.right > ul > li > div {
  font-size: 15px;
}

.right > ul > li > a > button {
  background-color: #55ffb8;
  margin-top: 8px;
  border: none;
  padding: 8px 18px;
  font-size: 14px;
  font-weight: 500;
}

.right > ul > li > a > button:hover {
  cursor: pointer;
  background-color: #00df82;
}
